<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}">Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Webapp - Registros</a>

			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link"
						th:href="@{/registros}">Listado Registros</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/form}">Nuevo
							Registro</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<h1 class="text-secondary" th:text="${titulo}"></h1>
		<a th:href="@{/form}">Registrar</a>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Precio</th>
					<th>Fecha</th>
					<th>Accion</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="registro: ${registros}">
					<td><a th:href="@{/} + ${registro.id}"
						th:text="${registro.id}"></a></td>

					<td th:text="${registro.nombre}"></td>
					<td th:text="${registro.precio}"></td>

					<td th:text="${#dates.format(registro.fecha, 'dd-MM-yyyy')}"></td>

					<td><a th:href="@{/eliminar/} + ${registro.id}"
						th:text="Eliminar"></a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
		crossorigin="anonymous"></script>

</body>
</html>